<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Fitness Testing</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/template.css') }}">
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <h1 id="home_heading">RESULTS</h1>


    <table class="trending_table">
        <tr>
            <th>S.No</th>
            <th>Assessment</th>
            <th>Result</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Vehicle Body</td>
            <td>{{ final_report[1] }}</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Windscreen</td>
            <td>{{ final_report[2] }}</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Mirrors</td>
            <td>{{ final_report[3] }}</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Conduction of test</td>
            <td>{{ final_report[0] }}</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Brakes</td>
            <td>Good condition</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Wheels</td>
            <td>Average condition</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Seat-belts</td>
            <td>Good condition</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Tyre Pressure</td>
            <td>Good condition</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Engine Emissions</td>
            <td>Good condition</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Wipers</td>
            <td>{{ final_report[4] }}</td>
        </tr>
    </table>

    {% endblock %}
</body>
</html>
